
.tom{
    display: flex;
        font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  
}
.tom-design{
    width: 50%;
    padding: 5% 5% 5% 5%;
    box-shadow: 10px 10px gray;
   margin: 4% 6% 10% 4%;
    border-left: 10px solid orange;
    border-radius: 10px;
    
}
.tom-img{
      width: 40%;
    padding-top: 20%;
    padding-left: 20%;
    

}

.tom-primary{
    color: slateblue;
   
}
.jerry-img{
    width: 60%;
    padding-left: 9%;

}
.jerry{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.jerry-primary{
    color: orange;
    
}
.spike{
    display: flex;
    margin: 2%;
   
    padding: 1%;
    box-shadow: 5px 5px 20px gray;
    border-radius: 8px;
}

.spike-bhv{
    margin: 1%;
    padding:1%;
    box-shadow: 10px 10px 40px gray;
   
    border-left:6px solid gray;
    border-radius: 7px;
    
   
}
.intro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}